@{
    
}
<div>
    <select id="province" class="easyui-combobox" style="width:150px;height:30px;" data-options="valueField:'provinceId',textField:'provinceName',url:'/api/c/GetProvinces',method:'GET',onChange:onProvinceSelected,required:true,editable:false"></select>
    <select id="city" class="easyui-combobox" style="width:100px;height:30px;" data-options="required:true,editable:false"></select>
    <select id="county" class="easyui-combobox" style="width:100px;height:30px;" data-options="required:true,editable:false"></select>
</div>

<script type="text/javascript">
    function onProvinceSelected(newValue, oldValue) {
        $("#county").combobox("clear");
        $("#city").combobox({
            url: '/api/c/GetRegion/' + newValue, valueField: 'cityId', textField: 'cityName', onChange: onCitySelected
        });
    }

    function onCitySelected(newValue, oldValue) {
        $("#county").combobox({
            url: '/api/c/GetRegion/' + newValue, valueField: 'regionId', textField: 'countyName'
        });
    }
</script>
